<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-autowire="byName" default-lazy-init="false">

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.driver}"/>
		<property name="url" value="${db.url}"/>
		<property name="username" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
	</bean>

	<!--&lt;!&ndash;&lt;!&ndash; 使用annotation定义事务 &ndash;&gt;&ndash;&gt;-->
	<!--<tx:annotation-driven transaction-manager="transactionManager"-->
						  <!--proxy-target-class="true" />-->
	<!--<bean id="transactionManager"-->
		  <!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
		<!--<property name="dataSource" ref="dataSource" />-->
	<!--</bean>-->

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />

		<property name="configLocation" value="classpath:mybatis-config.xml" />

		<property name="mapperLocations" value="classpath:mapper/**/*.xml" />
		<property name="plugins">
			<bean class="com.github.pagehelper.PageInterceptor">
				<property name="properties">
					<value> helperDialect=mysql
						reasonable=true
						supportMethodsArguments=true
						params=count=countSql
						autoRuntimeDialect=true
						rowBoundsWithCount=true
					</value>
				</property>
			</bean>
		</property>
	</bean>
	<!--&lt;!&ndash; SqlSessionTemplate保证了使用spring的当前的事务 &ndash;&gt;-->
	<bean id="sqlsessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
		<!--<constructor-arg index="1" value="BATCH" />-->
	</bean>
	<!--&lt;!&ndash; 自动扫描 mappers 接口 &ndash;&gt;-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="yj.spring.template.dao.mappers" />
<!-- 		<property name="sqlSessionTemplateBeanName" value="sqlsessionTemplate" />
 -->	</bean>

</beans>